<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/table.css">
    <title>Good</title>
</head>
<body>
    {{> menu}}
    Good
    <div class="container">
        <div>
            <div style="width: auto; height: auto" id='type_good'>   
            </div>
            <button id="find">Find</button>
        </div>
        <div id="tables_div">
            
        </div>
    </div>
    <script src="/font/good.js"></script>
</body>
</html>